# Data Science Tools And Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summurized.

###  Some of the popular languages that Data Scientists use are:
#### - Python
#### - R
#### - SQL

### Some of the commonly used libraries used by Data Scientists include:
#### - Panda 
#### - Numpy 
#### - Matplotlib

#### | Data Science Tools |
#### | Anaconda Navigator |
#### | Jupyter Notebook |
#### | Bycharm community |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
m_to_h = minutes / 60 
print(m_to_h)

3.3333333333333335

# Objectives:

##### - Python 
##### - R
##### - SQL

## Author Mouaz Mohammed